nav {
  background-color: #07c0c029;
  background-image: url("white1.jpg");
  padding: 10px 10px;
  border-style: double;
  border-color: rgb(0, 0, 0);
}

main {
  background-color: #cbdcdf;
  background-image: url("white1.jpg");
  padding: 1%;
  top: 0;
}

main img {
  max-width: auto;
}

footer {
  background-color: #cbdcdf;
  height: 60px;
  padding: 20px 20px;
  text-align: justified;
}

body {
  background-color: #cbdcdf;
  margin: 10px;
  border: 10px;
  border-color: white;
}

#wrapper {
  margin: auto;
  width: 80%;
}

#footer {
  float: left;
  width: 30%;
  color: white;
}

a.two:link {
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #ee6c4d;
  padding: 14px 25px;
  border: 10px;
  display: inline-block;
}

h2 {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-radius: 40px;
  border-width: 4px;
  border-color: rgb(0, 93, 101);
  background-color:aliceblue;

  text-align: center;
  font-size: 30px;
}

.image-holder {
  padding: 20px;
}

img {
  border-radius: 5px 5px 0 0;
  display: block;
  margin: auto;
  width: 90%;

  border-width: 4px;
  border-style: solid;
  border-color: rgba(89, 115, 117, 0.867);
  position: relative;

  margin-top: 40px;
}

img:hover {
  opacity: 0.5;
  transition: 0.9s;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(17, 194, 206);
  border-radius: 10px;
}

.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover:not(.active) {
  background-color: #0f939c;
}

.topnav a.active {
  background-color: #157c8e;
}

.topnav .icon {
  display: none;
}

@media screen and (min-width: 601px){
  .dropdown {
    display: none;
  }
  .topnav a {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }

  .topnav .icon {
    display: block;
  }

  .dropdown {
    display: none;
    position: absolute;
    background-color: rgb(17, 194, 206);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown a:hover {
    background-color: #0f939c;
  }

  .dropdown a.active {
    background-color: #157c8e;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

footer.fa {
  padding: 40px;
  font-size: 50px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.information-heading {
  background-color: rgba(89, 115, 117, 0.867);
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 20px;
  width: fit-content;
  color: white;
  
  font-size: x-large;
  font-weight: bold;
  border-radius:25px 0px 25px 0px;
}

.information {
  background-color: rgb(255, 255, 255);
  line-height: 30px;
  border-radius:0px 25px 25px 0px;
  padding: 10px 30px 10px 10px;
  word-spacing: 3px;
  font-size: larger;
}

table {
  border-collapse: collapse;
  font-size: larger;
  background-color: white;
  width: 90%;
}

th, td {
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

td:first-child {
  white-space: nowrap;
}

li {
  margin-bottom: 10px;
  text-align: left;
}

.indent {
  text-indent: 50px;
}